body{
    background-image: url(goa-clean-bg.png);
    

    text-align: center;
    }

h1 {
    color: crimson;
}

h2 {
    color: crimson;
}

li {
    color: chartreuse; 

    
}

